#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:15px; /* to match column gap */
   -webkit-border-radius: 30x;
   -moz-border-radius: 30px;
   border-radius: 30px;
   transition: 0.4s ease-in-out;
   filter: grayscale(30%);
   transition: filter .4s;
   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06)
}
    #gallery img:hover {
        transform: translateY(-5px) scale(1.01);
        filter:none;
        
}

@media (max-width: 400px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}
