#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:15px; /* to match column gap */
   -webkit-border-radius: 20x;
   -moz-border-radius: 20px;
   border-radius: 20px;
   transition: 0.15s ease-in-out;
}
    #gallery img:hover {
        transform: translateY(-3px) scale(1.02);
        filter: brightness(120%);
        
}

@media (max-width: 400px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}
